

    


.question-style{
    margin-top: 3%;;
    display: flex;
    margin-left: 10%;
    margin-right:10%;
    border: solid;
    border-color: #F3DFA2;
    border-radius: 20px;
    background-color: var(--background-color);

}



#background-box {
    margin : 1.5%;
    background-color: #fb8500;
    border-radius: 6px;
    border-color: #7EBDC2;
    border:solid;
    border-width: 10px;


}

#marginDiv{
    margin-top: -15%;

}

section, h1 { 
    justify-content: center;
    color: antiquewhite;
    margin-bottom: 15%;

}


#answers{
    display: flex;
    flex-wrap: wrap;

}

.answers:hover{
    background-color:#0a9605 !important;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;

}

.buttonPg3{
    margin: 1%;
    flex:1 1 40%;
    
}

#answer1{
    padding:5%;
    background-color: #87BCDE;
    color: #F3DFA2;
    border: none;

}

#answer2{
    padding:5%;
    background-color:#805E73;
    border: none;
    color:  #800020;

}

#answer3{
    background-color: #868599;
    border: none;
    padding:5%;

}
#answer4{
    color: aliceblue;
    background-color:#2D4654;
    border: none;
    padding:5%;

}

@media screen and (max-width: 776px)
{
    .buttonPg3{
        margin:1% 0% 1% 0%;
        flex: 1 1 80%;
        
    }



    section, h1 {
        font-size:medium;
        
    }

}