body {
    background-color:#800020;
    display: flex;
    justify-content: center;
    align-items: ;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

section {
    font-size: 30px;
    display:flex;
    justify-content: center;

}

.block {
    display: flex;
    justify-content: center;
    width:100%
    border: none;
    margin:0;
    background-color: #964B00;
    padding: 14px 28px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;

}